<!DOCTYPE html>

<html>
    <head>
        <title>About Us</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Gordon Schumway.</p>
            <p>It uses data from some APIs.</p>
            <img class="portrait" src="/images/alf_alien2.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>